In [34]:
import pandas as pd

import numpy as np

# Sample data
data = {
    'A': [1, 2, 2, 4, 5, 2],
    'B': ['a', 6, np.nan, 8, 9, 7],
    'C': [9, 'as', np.nan, 12, '13', np.nan]
}

# Create DataFrame
df = pd.DataFrame(data)

# Find duplicated rows
duplicated_rows = df[df.duplicated(keep=False)]

print("Duplicated rows with indices:")
print(duplicated_rows)

Duplicated rows with indices:
Empty DataFrame
Columns: [A, B, C]
Index: []

In [18]:
# Find duplicated rows and include row index
duplicated_rows_with_index = df[df.duplicated(keep=False)].reset_index()

print("Duplicated rows with original indices:")
print(duplicated_rows_with_index)

Duplicated rows with original indices:
Empty DataFrame
Columns: [index, A, B, C]
Index: []

In [43]:
# Find duplicated rows based on columns 'A' and 'B'
duplicated_rows_specific_a = list(df[df.duplicated(subset=['A'], keep=False)].index)

duplicated_rows_specific_b = list(df[df.duplicated(subset=['B'], keep=False)]['B'].index)

duplicated_rows_specific_c = list(df[df.duplicated(subset=['C'], keep=False)]['C'].index)

print("Duplicated rows based on columns 'A' and 'B' with original indices:")
print(duplicated_rows_specific_a)
print(duplicated_rows_specific_b)
print(duplicated_rows_specific_c)

Duplicated rows based on columns 'A' and 'B' with original indices:
[1, 2, 5]
[]
[2, 5]

In [36]:

rows_with_nulls_with_index_b = df[df['B'].isnull()]['B'].index
rows_with_nulls_with_index_c = df[df['C'].isnull()]['C'].index

print("Rows with null values and their original indices:")
print(rows_with_nulls_with_index_b)

print(type(rows_with_nulls_with_index_b))

print(rows_with_nulls_with_index_c)

Rows with null values and their original indices:
Index([2], dtype='int64')
<class 'pandas.core.indexes.base.Index'>
Index([2, 5], dtype='int64')

In [5]:
import pandas as pd

# Sample data
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [[1.1], [2], [3.3], [4.4], 0],
    'C': ['a', 'b', 'c', 0, 'e'],
    'D': [True, False, True, 1, True],
    'E': pd.to_datetime(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05'])
}

# Create DataFrame
df = pd.DataFrame(data)

# Get data types of columns
column_dtypes = df.dtypes

print("Data types of each column:")
print(column_dtypes)

Data types of each column:
A             int64
B            object
C            object
D            object
E    datetime64[ns]
dtype: object

In [7]:
df

   A      B  C      D          E
0  1  [1.1]  a   True 2021-01-01
1  2    [2]  b  False 2021-01-02
2  3  [3.3]  c   True 2021-01-03
3  4  [4.4]  0      1 2021-01-04
4  5      0  e   True 2021-01-05

In [8]:
abc = df.set_index('A')['B'].to_dict()

In [12]:
len(abc.get(1,0))

1

In [2]:
# Existing dictionary
existing_dict = {'a': 1, 'b': 2}

# New key-value pairs dictionary
new_dict = {'b': 3, 'd': 4}

# Using update method to merge dictionaries
existing_dict.update(new_dict)

print(existing_dict)

{'a': 1, 'b': 3, 'd': 4}

In [10]:
dt = ['date(dd-mm-yyyy)','date(mm-dd-yyyy)']

new_list = []

new_list.append([i for i in dt])
    
print(new_list)

[['date(dd-mm-yyyy)', 'date(mm-dd-yyyy)']]

In [13]:
dt = ['date(dd-mm-yyyy)','date(mm-dd-yyyy)']

new_list = []

new_list.extend(dt)
    
print(new_list)

['date(dd-mm-yyyy)', 'date(mm-dd-yyyy)']

In [13]:
import pandas as pd
df = pd.read_csv("stats.csv")

In [14]:
df

     version_id  ...                                     quality_checks
0             5  ...                                                NaN
1             8  ...                                                NaN
2             7  ...                                                NaN
3            24  ...                                                NaN
4            25  ...                                                NaN
..          ...  ...                                                ...
396         494  ...  {'zero_cnt': {'Vendor': 0, 'Group 1': 0}, 'neg...
397         495  ...  {'zero_cnt': {'Currency Code': 0, 'Rate': 0}, ...
398         496  ...  {'zero_cnt': {'Currency Code': 0, 'Rate': 0}, ...
399         497  ...  {'zero_cnt': {'Vendor': 0, 'Group 1': 0}, 'neg...
400         498  ...  {'zero_cnt': {'REGION_NAME': 0, 'PRINCIPAL_TOT...

[401 rows x 6 columns]

In [15]:
import ast
df["dq_count"] = df['discard_index_list'].map(lambda x: len(ast.literal_eval(x)))

In [17]:
df

     version_id  ...  dq_count
0             5  ...         0
1             8  ...         0
2             7  ...         0
3            24  ...         0
4            25  ...         0
..          ...  ...       ...
396         494  ...         0
397         495  ...         0
398         496  ...         0
399         497  ...         0
400         498  ...         0

[401 rows x 7 columns]

In [16]:
df.to_csv("stats1.csv", index=False)