In [19]:
import pandas as pd

In [20]:
df = pd.read_csv("Comp1 - Loans.csv")

In [21]:
df.head()

,Currency,Balance Amount,Actual Outstanding in SGD,Maturity Date,Account Number,Interest Recievable,Bucket,IP/IR bucket,Exchange Rate,Base Ccy,Interest flow,IR Amount,Principal + Interest,Bucket (Principal + Interest),Bucket IR
0,USD,"4,83,587.87","15,08,363.34",31-Jan-17,88160000082,25343.9472,8 days to 14 days,Over 3 wks to 1 mth,1.44655,"6,99,534.04","2,681.30","36,661.29","7,02,215.34",Over 3 wks to 1 mth,Over 3 wks to 1 mth
1,USD,"5,59,143.68","8,08,829.30",17-Feb-18,88160000082,25343.9472,Up to 1 Year,Over 3 wks to 1 mth,1.44655,"8,08,829.30","23,396.80",0,"8,32,226.10",Over 3 wks to 1 mth,Over 1 yr to 2 yrs
2,USD,"1,83,000.00","50,47,012.91",05-Jan-17,88160000183,1598.2692,Up to 3 Months,Over 1 mth to 3 mths,1.44655,"2,64,718.65","67,831.71","2,311.98","3,32,550.36",Over 1 mth to 3 mths,Up to 1 week
3,USD,"1,83,000.00","2,64,718.65",16-Aug-17,88160000183,1598.2692,Up to 6 Months,Over 1 mth to 3 mths,1.44655,"2,64,718.65","66,465.05",0,"3,31,183.70",Over 1 mth to 3 mths,Over 6 mths to 1 yr
4,USD,"1,83,000.00","2,64,718.65",27-Jan-18,88160000183,1598.2692,Up to 1 Year,Over 1 mth to 3 mths,1.44655,"2,64,718.65","62,785.95",0,"3,27,504.60",Over 1 mth to 3 mths,Over 1 yr to 2 yrs

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 968 entries, 0 to 967
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Currency                       968 non-null    object
 1   Balance Amount                 968 non-null    object
 2   Actual Outstanding in SGD      968 non-null    object
 3   Maturity Date                  968 non-null    object
 4   Account Number                 968 non-null    int64
 5   Interest Recievable            968 non-null    float64
 6   Bucket                         968 non-null    object
 7   IP/IR bucket                   968 non-null    object
 8   Exchange Rate                  968 non-null    float64
 9   Base Ccy                       968 non-null    object
 10  Interest flow                  968 non-null    object
 11  IR Amount                      968 non-null    object
 12  Principal + Interest           968 non-null    object
 13  Bucket (Principal + Interest)  968 non-null    object
 14  Bucket IR                      968 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 113.6+ KB

In [23]:
df.describe()

       Account Number  Interest Recievable  Exchange Rate
count    9.680000e+02           968.000000     968.000000
mean     8.821931e+10         25315.145475       1.397651
std      4.916098e+07         77594.658664       0.139517
min      8.816000e+10            22.301400       1.000000
25%      8.816000e+10           552.004200       1.446550
50%      8.826001e+10          1524.824400       1.446550
75%      8.826002e+10          9529.741650       1.446550
max      8.826002e+10        481727.129400       1.446550

In [24]:
df.head()

,Currency,Balance Amount,Actual Outstanding in SGD,Maturity Date,Account Number,Interest Recievable,Bucket,IP/IR bucket,Exchange Rate,Base Ccy,Interest flow,IR Amount,Principal + Interest,Bucket (Principal + Interest),Bucket IR
0,USD,"4,83,587.87","15,08,363.34",31-Jan-17,88160000082,25343.9472,8 days to 14 days,Over 3 wks to 1 mth,1.44655,"6,99,534.04","2,681.30","36,661.29","7,02,215.34",Over 3 wks to 1 mth,Over 3 wks to 1 mth
1,USD,"5,59,143.68","8,08,829.30",17-Feb-18,88160000082,25343.9472,Up to 1 Year,Over 3 wks to 1 mth,1.44655,"8,08,829.30","23,396.80",0,"8,32,226.10",Over 3 wks to 1 mth,Over 1 yr to 2 yrs
2,USD,"1,83,000.00","50,47,012.91",05-Jan-17,88160000183,1598.2692,Up to 3 Months,Over 1 mth to 3 mths,1.44655,"2,64,718.65","67,831.71","2,311.98","3,32,550.36",Over 1 mth to 3 mths,Up to 1 week
3,USD,"1,83,000.00","2,64,718.65",16-Aug-17,88160000183,1598.2692,Up to 6 Months,Over 1 mth to 3 mths,1.44655,"2,64,718.65","66,465.05",0,"3,31,183.70",Over 1 mth to 3 mths,Over 6 mths to 1 yr
4,USD,"1,83,000.00","2,64,718.65",27-Jan-18,88160000183,1598.2692,Up to 1 Year,Over 1 mth to 3 mths,1.44655,"2,64,718.65","62,785.95",0,"3,27,504.60",Over 1 mth to 3 mths,Over 1 yr to 2 yrs

In [25]:
df.columns = df.columns.str.strip() # some column names have blank space need to remove it to read easier

In [47]:
def define_datatype(df):
    dict_type = dict()
    for key in df.keys():
        print(key)
        
        is_int = all(set(df[key].astype(str).str.match('^[0-9]+$')))
        # print(is_int)
        if (is_int):           
            dict_type[key] = "Integer"
            continue
            
        is_float = all(set(df[key].astype(str).str.match(('^[0-9]+(\.[0-9]+)?$'))))
        print(is_float)
        if (is_float):
            dict_type[key] = "Float"
            continue
        
        # string only...
        is_string = all(set(df[key].astype(str).str.match('^[a-zA-Z0-9]+$')))
        # print(is_string)
        if(is_string):
            is_str_category = set(df[key].duplicated())
            print(is_str_category)
            if(len(is_str_category)>1):
                dict_type[key] ="String-Categorical"
            else:
                dict_type[key] = "String"
            
        # is_number = any(set(df[key].astype(str).str.match('^[0-9]+$')))  # numbers only...
        # if(is_number):
        #     df[key] = "Number"
            
        # is_float = any(set(df[key].astype(str).str.match('^[0-9]+(\.[0-9]+)?$'))) # floats only...
        # if(is_float):
        #     df[key] = "Float"
            
        # is_alphanum = any(set(df[key].astype(str).str.match('^[0-9a-zA-z]+$'))) # is alphanumeric only...
        # if (is_alphanum):
        #     df[key] = "AlphaNumeric"
    print(dict_type)
    return (dict_type)

In [48]:
dd = define_datatype(df)
print("---")
dd

Currency
False
{False, True}
Balance Amount
False
Actual Outstanding in SGD
False
Maturity Date
False
Account Number
Interest Recievable
True
Bucket
False
IP/IR bucket
False
Exchange Rate
True
Base Ccy
False
Interest flow
False
IR Amount
False
Principal + Interest
False
Bucket (Principal + Interest)
False
Bucket IR
False
{'Currency': 'String-Categorical', 'Account Number': 'Integer', 'Interest Recievable': 'Float', 'Exchange Rate': 'Float'}
---

{'Currency': 'String-Categorical',
 'Account Number': 'Integer',
 'Interest Recievable': 'Float',
 'Exchange Rate': 'Float'}

In [28]:
df.columns = df.columns.str.strip()

In [51]:
df["Bucket"].duplicated()

0      False
1      False
2      False
3      False
4       True
       ...
963     True
964     True
965     True
966     True
967     True
Name: Bucket, Length: 968, dtype: bool

In [29]:
df.head()

,Currency,Balance Amount,Actual Outstanding in SGD,Maturity Date,Account Number,Interest Recievable,Bucket,IP/IR bucket,Exchange Rate,Base Ccy,Interest flow,IR Amount,Principal + Interest,Bucket (Principal + Interest),Bucket IR
0,USD,"4,83,587.87","15,08,363.34",31-Jan-17,88160000082,25343.9472,8 days to 14 days,Over 3 wks to 1 mth,1.44655,"6,99,534.04","2,681.30","36,661.29","7,02,215.34",Over 3 wks to 1 mth,Over 3 wks to 1 mth
1,USD,"5,59,143.68","8,08,829.30",17-Feb-18,88160000082,25343.9472,Up to 1 Year,Over 3 wks to 1 mth,1.44655,"8,08,829.30","23,396.80",0,"8,32,226.10",Over 3 wks to 1 mth,Over 1 yr to 2 yrs
2,USD,"1,83,000.00","50,47,012.91",05-Jan-17,88160000183,1598.2692,Up to 3 Months,Over 1 mth to 3 mths,1.44655,"2,64,718.65","67,831.71","2,311.98","3,32,550.36",Over 1 mth to 3 mths,Up to 1 week
3,USD,"1,83,000.00","2,64,718.65",16-Aug-17,88160000183,1598.2692,Up to 6 Months,Over 1 mth to 3 mths,1.44655,"2,64,718.65","66,465.05",0,"3,31,183.70",Over 1 mth to 3 mths,Over 6 mths to 1 yr
4,USD,"1,83,000.00","2,64,718.65",27-Jan-18,88160000183,1598.2692,Up to 1 Year,Over 1 mth to 3 mths,1.44655,"2,64,718.65","62,785.95",0,"3,27,504.60",Over 1 mth to 3 mths,Over 1 yr to 2 yrs

In [46]:
set(df['Currency'].astype(str).str.match('^[a-zA-Z]+$')) # string only...

{True}

In [45]:
# df["Account Number"].astype(str).str.match('^[0-9]+$') # numbers only...

set(df["Balance Amount"].astype(str).str.match(('^[0-9]+(\.[0-9]+)?$')))

{False}

In [35]:
df["Balance Amount"].unique()

array(['4,83,587.87', '5,59,143.68', '1,83,000.00', '1,94,999.94',
       '1,09,800.00', '1,16,999.91', '64,050.00', '68,250.11',
       '7,92,396.00', '7,86,456.00', '1,65,000.00', '2,31,000.00',
       '8,58,000.00', '90,104.18', '1,26,145.85', '4,68,541.70',
       '4,68,541.61', '31,96,572.87', '56,766.88', '56,766.77',
       '1,58,40,000.00', '39,60,000.00', '4,95,000.00', '7,92,000.00',
       '6,24,577.54', '5,72,529.44', '10,93,922.65', '16,40,883.98',
       '39,10,773.48', '1,09,392.27', '1,64,088.40', '3,91,077.34',
       '5,35,251.39', '3,59,734.13', '6,16,687.07', '1,68,56,113.32',
       '2,40,594.78', '1,61,700.00', '2,77,200.00', '75,76,800.00',
       '3,300.00', '16,500.00', '65,60,400.00', '455.68', '2,278.38',
       '9,05,883.14', '438.21', '2,191.07', '8,71,167.83', '9,810.62',
       '9,810.72', '66,000.00', '9,90,000.00', '6,60,000.00',
       '8,25,000.00', '23,10,000.00', '4,48,432.06', '4,48,432.04',
       '9,24,000.00', '13,20,000.00', '26,40,000.00', '1,49,477.35',
       '1,49,477.31', '2,24,216.03', '2,24,216.08', '3,458.48',
       '3,468.01', '3,593.48', '3,346.00', '3,466.67', '3,476.13',
       '4,063.24', '4,212.05', '4,089.58', '12,55,645.31', '1,45,968.39',
       '2,18,952.58', '3,40,592.89', '9,48,794.50', '15,56,996.09',
       '48,65,612.80', '9,49,007.40', '41,538.88', '62,308.31',
       '96,924.04', '2,70,002.69', '4,43,081.34', '13,84,629.18',
       '6,491.89', '7,00,673.36', '18,125.72', '19,56,318.67',
       '11,06,325.00', '8,03,682.00', '9,01,230.00', '1,80,246.00',
       '7,25,736.00', '9,07,170.00', '3,62,868.00', '1,37,461.50',
       '9,15,882.00', '9,20,461.41', '9,19,710.00', '6,43,797.00',
       '2,75,952.60', '9,18,720.00', '9,48,620.97', '10,17,580.08',
       '13,27,071.90', '10,00,901.22', '9,18,126.00', '6,24,325.68',
       '8,88,145.50', '9,34,890.00', '8,22,703.20', '93,654.00',
       '9,36,540.00', '6,08,751.00', '1,90,080.00', '2,24,40,000.00',
       '45.72', '33,000.00', '1,38,600.00', '22,628.57', '23,382.86',
       '33,942.86', '35,074.29', '45,257.14', '46,765.71', '11,88,000.00',
       '13,86,000.00', '17,82,000.00', '19,80,000.00', '23,76,000.00',
       '1,23,750.00', '3,30,000.00', '62,228.57', '64,302.86',
       '15,84,000.00', '1,48,553.06', '1,85,691.32', '1,89,405.14',
       '65,815.86', '65,820.48', '1,51,530.59', '1,57,591.82',
       '1,57,591.81', '16,50,000.00', '35,869.57', '43,043.48',
       '1,57,826.05', '41,294.80', '49,553.76', '5,739.13', '6,886.95',
       '25,252.18', '32,877.57', '39,453.08', '28,380.00', '15,948.17',
       '34,984.29', '41,981.15', '1,44,375.00', '1,54,687.50',
       '2,37,187.50', '69,81,562.50', '64,077.32', '76,892.79',
       '76,892.77', '1,52,291.30', '1,63,169.25', '1,74,047.20',
       '2,50,192.85', '73,64,372.06', '38,916.67', '46,700.00',
       '36,857.04', '36,855.72', '11,481.47', '13,777.76', '21,221.86',
       '26,527.33', '27,057.87', '34,925.72', '43,657.15', '44,530.29',
       '1,26,186.19', '2,58,681.68', '2,83,918.92', '2,83,918.91',
       '5,08,035.00', '48,024.90', '72,037.35', '81,642.33',
       '1,08,056.03', '7,75,602.14', '5,64,465.00', '17,441.42',
       '21,801.79', '22,237.82', '15,019.12', '22,528.67', '25,532.50',
       '33,793.01', '2,42,558.73', '95,700.00', '12,988.46', '21,082.46',
       '31,623.69', '84,329.84', '1,21,224.14', '1,31,765.37',
       '1,37,035.98', '1,42,306.60', '99,000.00', '1,66,980.00',
       '69,300.00', '33,660.00', '44,220.00', '22,493.78', '36,511.20',
       '54,766.80', '1,46,044.80', '2,09,939.40', '2,28,195.00',
       '2,37,322.80', '2,46,450.60', '33,103.50', '49,655.24',
       '56,275.94', '74,482.86', '5,34,621.45', '1,15,500.00',
       '87,780.00', '38,280.00', '59,400.00', '19,800.00', '6,661.04',
       '9,991.56', '16,652.59', '33,305.18', '49,957.76', '4,476.68',
       '6,715.02', '11,191.70', '22,383.40', '33,575.10', '33,575.13',
       '5,287.02', '7,930.53', '13,217.54', '26,435.09', '39,652.62',
       '1,732.31', '2,811.82', '4,217.74', '11,247.30', '16,167.99',
       '17,573.90', '18,276.86', '18,979.84', '8,709.19', '13,063.78',
       '21,772.97', '43,545.94', '65,318.91', '65,318.90', '6,171.30',
       '9,256.95', '15,428.25', '30,856.50', '46,284.74', '46,284.77',
       '441.21', '2,206.05', '8,77,126.02', '7,928.74', '12,869.67',
       '19,304.51', '51,478.68', '74,000.59', '80,435.42', '83,652.86',
       '86,870.42', '259.32', '1,296.62', '5,15,534.20', '7,801.67',
       '11,702.50', '19,504.16', '39,008.33', '58,512.49', '58,512.50',
       '8,154.96', '12,232.44', '20,387.41', '40,774.81', '61,162.21',
       '61,162.20', '9,049.60', '13,574.40', '22,623.99', '45,248.00',
       '67,872.00', '67,872.04', '6,332.67', '9,499.01', '15,831.68',
       '31,663.35', '47,495.04', '47,495.01', '8,809.97', '13,214.96',
       '22,024.93', '44,049.87', '66,074.80', '66,074.82'], dtype=object)

In [229]:
df["Balance Amount"].astype(str).str.match(
    '^[-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?$')

0      False
1      False
2      False
3      False
4      False
       ...
963    False
964    False
965    False
966    False
967    False
Name: Balance Amount, Length: 968, dtype: bool

In [89]:
df.columns = df.columns.str.strip()

In [90]:
df.columns.str.strip()

Index(['Currency', 'Balance Amount', 'Actual Outstanding in SGD',
       'Maturity Date', 'Account Number', 'Interest Recievable', 'Bucket',
       'IP/IR bucket', 'Exchange Rate', 'Base Ccy', 'Interest flow',
       'IR Amount', 'Principal + Interest', 'Bucket (Principal + Interest)',
       'Bucket IR'],
      dtype='object')

In [81]:
for key in df.keys():
    print(key)
    ss = set(df['Currency'].str.match('^[a-zA-Z]+$')) #- all strings...
    # if (len(ss) == 1
# set(df['Currency'].str.match('^[a-zA-Z]+$')) - all strings...
# df["Balance Amount"].str.match('^[0-9]+$') - only digits...
# set(df['Actual Outstanding in SGD'].str.match('^[a-zA-Z]+$'))
# set(df['Maturity Date'].str.match('^[a-zA-Z]+$'))
# set(df['Account Number'].str.match('^[a-zA-Z]+$'))
# set(df['Account Number'].str.match('^[a-zA-Z]+$'))

A

KeyError: 'Currency'

In [68]:
df['Currency'].str.match('^[a-zA-Z]+$')

0      True
1      True
2      True
3      True
4      True
       ...
963    True
964    True
965    True
966    True
967    True
Name: Currency, Length: 968, dtype: bool

In [14]:
df['Currency'].unique()

array(['USD', 'SGD'], dtype=object)

In [80]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4.5, 6.7, 8.9], 'C': ['a', 'b', 'c']})

# Check if the column 'A' is of type int
df['A'].map(type) == str

# Check if the column 'B' is of type float
df['B'].map(type) == float

# Check if the column 'C' is of type string
df['C'].map(type) == str

# Check if the column 'A' contains only digits
df['A'].astype(str).match('^[0-9]+$')

# Check if the column 'B' contains only numbers
df['B'].str.match('^[0-9]+(\.[0-9]+)?$')

# Check if the column 'C' contains only letters
df['C'].str.match('^[a-zA-Z]+$')

AttributeError: 'Series' object has no attribute 'match'

In [77]:
df['A'].apply(str)

0    1
1    2
2    3
Name: A, dtype: object