In [59]:
import pandas as pd

In [60]:
df = pd.read_csv("data (2).csv")

In [61]:
df

    table_id  version_id  value
0          1           1    100
1          1           2    200
2          1           3    300
3          2           3    400
4          2           4    500
5          2           5    600
6          3           5    500
7          3           6    300
8          4           6    800
9          4           7    900
10         4           8    100

In [62]:
# For every table id, keep the row with the highest version id and delete other rows.
gr_df = df.groupby(["table_id"])["version_id"].idxmax()

In [63]:
df.loc[gr_df]

    table_id  version_id  value
2          1           3    300
5          2           5    600
7          3           6    300
10         4           8    100