In [59]:
import pandas as pd

In [60]:
# reading data.csv file
df = pd.read_csv("data.csv")

In [61]:
df.head()

   col1  col2  col3  col4
0    14    39    86    50
1    88    63    49    98
2    29    28    55    34
3    63    15    11    70
4    76   100    97    22

In [62]:
df.describe()

            col1        col2       col3       col4
count  43.000000   43.000000  43.000000  43.000000
mean   50.883721   40.860465  48.604651  47.279070
std    27.797918   25.184634  33.942626  24.584476
min     1.000000    1.000000   1.000000   2.000000
25%    29.000000   19.500000  16.500000  28.500000
50%    57.000000   40.000000  50.000000  44.000000
75%    70.000000   58.500000  84.000000  62.500000
max    97.000000  100.000000  97.000000  98.000000

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    43 non-null     int64
 1   col2    43 non-null     int64
 2   col3    43 non-null     int64
 3   col4    43 non-null     int64
dtypes: int64(4)
memory usage: 1.5 KB

### 1. Create a new column col5. The value in col5 should be the maximum value of col1, col2, col3 and col4 for the particular row.

In [64]:
df["col5"] = df.max(axis=1) # rowwise max value

In [65]:
df.head()

   col1  col2  col3  col4  col5
0    14    39    86    50    86
1    88    63    49    98    98
2    29    28    55    34    55
3    63    15    11    70    70
4    76   100    97    22   100

### 2. Calculate the standard deviation for each column, col1 to col5. Store the standard deviation for each column in a dictionary. 
### eg. output should be {"col1": 32.2, "col2": 23.3, ...}

In [66]:
dd = df.std().to_dict() # column wise standard deviation and converting into dictionary

In [67]:
type(dd) # checking datatype

dict

In [68]:
dd

{'col1': 27.79791813232952,
 'col2': 25.184633821655954,
 'col3': 33.94262633641525,
 'col4': 24.58447591991583,
 'col5': 18.212143491160933}

### 3. Find out all the index numbers(row numbers) if the value in any column of the row is more than 1.5 times of the average value of the corresponding column.

In [69]:
avg = df.mean() # finding mean/average value of each column

In [70]:
avg

col1    50.883721
col2    40.860465
col3    48.604651
col4    47.279070
col5    77.279070
dtype: float64

In [71]:
avg["col1"]

50.883720930232556

In [72]:
df['col1'] >= float(avg["col1"])*1.5

0     False
1      True
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14     True
15     True
16    False
17     True
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35     True
36    False
37    False
38    False
39    False
40    False
41    False
42    False
Name: col1, dtype: bool

In [73]:
# creating new dataframe with true false having vales greated than avg*1.5 in each rows..

df1 = pd.DataFrame()

for k in avg.keys():
    # print(k)
    my_dict = (df[k] >= float(avg[k])*1.5).to_dict() # finding rows with 
    # print(my_dict)
    df1[k] = my_dict.values()
    # print(dd)
    # df1.assign(k = series)

In [74]:
df1.head()

    col1   col2   col3   col4   col5
0  False  False   True  False  False
1   True   True  False   True  False
2  False  False  False  False  False
3  False  False  False  False  False
4  False   True   True  False  False

In [75]:
type(df1)

pandas.core.frame.DataFrame

In [80]:
res = df.index[df.any(axis=1)]

In [81]:
# all index list having index numbers(row numbers) if the value in any column of the row is more than 1.5 times of the average value of the corresponding column.
res

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42],
           dtype='int64')

In [57]:
# import pandas as pd

# df = pd.DataFrame({'A': [True, False, True, True], 'B': [False, False, False, False]})

# # Check if any value in the DataFrame is True
# result = df.any(axis=1)
# res = df.index[df.any(axis=1)]
# # Print the result
# print(result)

0     True
1    False
2     True
3     True
dtype: bool

In [58]:
# res

Int64Index([0, 2, 3], dtype='int64')

In [43]:
# result

pandas.core.series.Series