In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("sample.csv")

In [4]:
data.head()

,Unnamed: 0,India Id,Trade Id,Product Description,Trade Date,Start Date,MR_MATURITY_DATE,Entered Date,CounterParty (F),Book,Buy/Sell,Currency Pair,Prim Cur,Prim Amt,Trade Price,Sec Cur,Sec Amt,TradeStatus,check_fail_errors,discard_flag
0,0,26997,13782015.0,2199667/FXFlexiForward/MerchantFX/RETAIL/USD/I...,01-03-21 0:00,01-09-21,07-03-24,01-03-21 0:00,Counterparty 1,TB.IND.TRADING.TIMEOPT,Buy,USD/INR,USD,450000,75.38,INR,-33921000.00,VERIFIED,[Trade Date not a date format with ['Date (dd-...,0
1,1,27966,14734932.0,2219298/FXFlexiForward/MerchantFX/RETAIL/USD/I...,12-03-21 0:00,30-07-21,23-03-25,12-03-21 0:00,Counterparty 2,TB.IND.TRADING.TIMEOPT,Buy,USD/INR,USD,83395.63,74.21,INR,-6188581.22,VERIFIED,[Trade Id: Primary key is duplicated ][Trade D...,0
2,2,33963,14459168.0,2360870/FXFlexiForward/MerchantFX/RETAIL/USD/I...,10-06-21 0:00,14-12-21,22-09-24,10-06-21 0:00,Counterparty 3,TB.IND.TRADING.TIMEOPT,Buy,USD/INR,USD,1000000,74.64,INR,-74635000.00,VERIFIED,[Trade Date not a date format with ['Date (dd-...,0
3,3,34740,14559806.0,2385501/FXFlexiForward/MerchantFX/RETAIL/USD/I...,25-06-21 0:00,30-09-21,30-06-24,25-06-21 0:00,Counterparty 4,TB.IND.TRADING.TIMEOPT,Buy,USD/INR,USD,950000,NaN,INR,-71162125.00,VERIFIED,[Trade Date not a date format with ['Date (dd-...,0
4,4,34741,14559817.0,NaN,25-06-21 0:00,29-10-21,23-10-24,25-06-21 0:00,Counterparty 5,TB.IND.TRADING.TIMEOPT,Buy,USD/INR,USD,950000,75.17,INR,-71409125.00,VERIFIED,[Product Description: Primary key is Null ][Pr...,0

In [5]:
n = len(data)

In [6]:
empty_list = [None] * n
print(empty_list)  # Output: [None, None, None, None, None]

[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

In [7]:
print(empty_list[5])

None

In [8]:
empty_list[5] = "test"

In [9]:
empty_list1 = [None] * n
print(empty_list1)  # Output: [None, None, None, None, None]

[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

In [10]:
data.insert(2, "Age", empty_list, True)

In [11]:
empty_list1[5] = "1"

In [12]:
data.insert(2, "Age1", empty_list1, True)

In [14]:
data["new"] = data["Age"] + data["Age1"]

In [17]:
lst = data["new"].to_numpy()

In [18]:
new_col = [None] * n

In [25]:
import numpy as np

In [26]:
# Replace values containing the substring 'apple'
np_array = np.array([('orange' if isinstance(x, str) and 'test' in x else x) for x in lst])

In [27]:
np_array

array(['nan', 'nan', 'nan', 'nan', 'nan', 'orange', 'nan', 'nan', 'nan',
       'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan',
       'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan', 'nan'],
      dtype='<U32')

In [16]:
data.head(6)

,Unnamed: 0,India Id,Age1,Age,Trade Id,Product Description,Trade Date,Start Date,MR_MATURITY_DATE,Entered Date,...,Currency Pair,Prim Cur,Prim Amt,Trade Price,Sec Cur,Sec Amt,TradeStatus,check_fail_errors,discard_flag,new
0,0,26997,None,None,13782015.0,2199667/FXFlexiForward/MerchantFX/RETAIL/USD/I...,01-03-21 0:00,01-09-21,07-03-24,01-03-21 0:00,...,USD/INR,USD,450000,75.38,INR,-33921000.00,VERIFIED,[Trade Date not a date format with ['Date (dd-...,0,NaN
1,1,27966,None,None,14734932.0,2219298/FXFlexiForward/MerchantFX/RETAIL/USD/I...,12-03-21 0:00,30-07-21,23-03-25,12-03-21 0:00,...,USD/INR,USD,83395.63,74.21,INR,-6188581.22,VERIFIED,[Trade Id: Primary key is duplicated ][Trade D...,0,NaN
2,2,33963,None,None,14459168.0,2360870/FXFlexiForward/MerchantFX/RETAIL/USD/I...,10-06-21 0:00,14-12-21,22-09-24,10-06-21 0:00,...,USD/INR,USD,1000000,74.64,INR,-74635000.00,VERIFIED,[Trade Date not a date format with ['Date (dd-...,0,NaN
3,3,34740,None,None,14559806.0,2385501/FXFlexiForward/MerchantFX/RETAIL/USD/I...,25-06-21 0:00,30-09-21,30-06-24,25-06-21 0:00,...,USD/INR,USD,950000,NaN,INR,-71162125.00,VERIFIED,[Trade Date not a date format with ['Date (dd-...,0,NaN
4,4,34741,None,None,14559817.0,NaN,25-06-21 0:00,29-10-21,23-10-24,25-06-21 0:00,...,USD/INR,USD,950000,75.17,INR,-71409125.00,VERIFIED,[Product Description: Primary key is Null ][Pr...,0,NaN
5,5,35314,1,test,14588875.0,2393387/FXFlexiForward/MerchantFX/RETAIL/USD/I...,30-06-21 0:00,17-08-21,13-01-25,30-06-21 0:00,...,USD/INR,USD,0,74.53,INR,0.00,VERIFIED,[Trade Date not a date format with ['Date (dd-...,0,test1