In [21]:
# import the python pandas package
import pandas as pd

# create data_frame1 by creating a dictionary
# in which values are stored as list
data_frame1 = pd.DataFrame({'Fruits': ['Apple', 'Banana', 'Mango',
									'Dragon Fruit', 'Apple', 'Banana'],
							'Sales in kg': [20, 30, 15, 10, 50, 40]})

# create data_frame2 by creating a dictionary 
# in which values are stored as list
data_frame2 = pd.DataFrame({'Vegetables': ['tomato', 'Onion', 'ladies finger',
										'beans', 'bedroot', 'carrot'],
							'Sales in kg': [200, 310, 115, 110, 55, 45]})

# create data_frame3 by creating a dictionary 
# in which values are stored as list
data_frame3 = pd.DataFrame({'Baked Items': ['Cakes', 'biscuits', 'muffins',
											'Rusk', 'puffs', 'cupcakes'],
							'Sales in kg': [120, 130, 159, 310, 150, 140]})

dict1 = {"Fruits": data_frame1, "vegetables": data_frame2, "bakeditems": data_frame3}

In [22]:
def write_excel_tabs(dict1):
    # create a excel writer object
    with pd.ExcelWriter("filename.xlsx") as writer:
        for sheet_name, df in dict1.items():
                    df.to_excel(writer, sheet_name=sheet_name, index=False)

In [23]:
write_excel_tabs(dict1)

In [24]:
data_frame1 = pd.DataFrame({'col1': ['Apple', 'Banana', 'Mango',
									'Dragon Fruit', 'Apple', 'Banana'],
							'col2': [20, 30, 15, 10, 50, 10],
                            'col3': ['Cakes', 'biscuits', 'muffins',
											'Rusk', 'Cakes', 'cupcakes']
           })

In [25]:
data_frame1

           col1  col2      col3
0         Apple    20     Cakes
1        Banana    30  biscuits
2         Mango    15   muffins
3  Dragon Fruit    10      Rusk
4         Apple    50     Cakes
5        Banana    10  cupcakes

In [26]:
data_frame1["repeated"] = ""

In [27]:
for col in data_frame1.columns:
    if col != "repeated":
        index_list =  data_frame1[data_frame1.duplicated(subset=[col], keep=False)].index
        print(index_list)
        for i in index_list:
            # print(i)
            data_frame1["repeated"][i] = data_frame1["repeated"][i] + f" {col}:" + str(data_frame1[col][i])

Index([0, 1, 4, 5], dtype='int64')
Index([3, 5], dtype='int64')
Index([0, 4], dtype='int64')

C:\Users\Darshi\AppData\Local\Temp\ipykernel_13276\1746687174.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame1["repeated"][i] = data_frame1["repeated"][i] + f" {col}:" + str(data_frame1[col][i])
C:\Users\Darshi\AppData\Local\Temp\ipykernel_13276\1746687174.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame1["repeated"][i] = data_frame1["repeated"][i] + f" {col}:" + str(data_frame1[col][i])
C:\Users\Darshi\AppData\Local\Temp\ipykernel_13276\1746687174.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame1["repeated"][i] = data_frame1["repeated"][i] + f" {col}:" + str(data_frame1[col][i])
C:\Users\Darshi\AppData\Local\Temp\ipykernel_13276\1746687174.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame1["repeated"][i] = data_frame1["repeated"][i] + f" {col}:" + str(data_frame1[col][i])
C:\Users\Darshi\AppData\Local\Temp\ipykernel_13276\1746687174.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame1["repeated"][i] = data_frame1["repeated"][i] + f" {col}:" + str(data_frame1[col][i])
C:\Users\Darshi\AppData\Local\Temp\ipykernel_13276\1746687174.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame1["repeated"][i] = data_frame1["repeated"][i] + f" {col}:" + str(data_frame1[col][i])
C:\Users\Darshi\AppData\Local\Temp\ipykernel_13276\1746687174.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame1["repeated"][i] = data_frame1["repeated"][i] + f" {col}:" + str(data_frame1[col][i])
C:\Users\Darshi\AppData\Local\Temp\ipykernel_13276\1746687174.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_frame1["repeated"][i] = data_frame1["repeated"][i] + f" {col}:" + str(data_frame1[col][i])

In [28]:
print(data_frame1["repeated"])

0     col1:Apple col3:Cakes
1               col1:Banana
2
3                   col2:10
4     col1:Apple col3:Cakes
5       col1:Banana col2:10
Name: repeated, dtype: object

In [29]:
index_list = data_frame1[data_frame1.duplicated(subset=["Fruits"], keep=False)]

KeyError: Index(['Fruits'], dtype='object')

In [ ]:
pd.set_option('display.max_colwidth', 100)

In [ ]:
for col in data_frame1.columns:
    if "repeated" in col:
        data_frame1["repeated"] = data_frame1["repeated"] + f"{col}:"+data_frame1[col].fillna('').astype(str)

In [ ]:
data_frame1

,Fruits,Sales in kg,Baked Items,repeated
0,Apple,20,Cakes,Fruits:Apple Baked Items:Cakes repeated: Frui...
1,Banana,30,biscuits,Fruits:Bananarepeated: Fruits:Banana
2,Mango,15,muffins,repeated:
3,Dragon Fruit,10,Rusk,Sales in kg:10repeated: Sales in kg:10
4,Apple,50,Cakes,Fruits:Apple Baked Items:Cakes repeated: Frui...
5,Banana,10,cupcakes,Fruits:Banana Sales in kg:10repeated: Fruits:...

In [ ]:
  source_df["repeated"] = ""
    pk_dict = dict()
    
    for col in data_frame1.columns:
        if col != "repeated":
            index_list =  data_frame1[data_frame1.duplicated(subset=[col], keep=False)].index
            print(index_list)
            for i in index_list:
                # print(i)
                data_frame1["repeated"][i] = data_frame1["repeated"][i] + f" {col}:" + str(data_frame1[col][i])

In [ ]:
def check_columns_diff(source_columns, report_columns): # report_columns is b_w_columns object list
    
    source_columns = set(sorted(source_columns))
    report_columns = set(sorted(report_columns))
    
    missing_columns_source = list(source_columns - report_columns)
    # missing_column_report = list(report_columns - source_columns)
    
    print(f"Columns missing in source data are {missing_columns_source}")
    # print(f"Columns missing in report data are {missing_column_report}")
    
    return missing_columns_source

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'A': [1, 2, 1, 4, 2],
    'B': [5, 6, 5, 8, 6],
    'C': [9, 10, 9, 12, 13]
}

df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:")
print(df)

# Identify duplicated rows based on columns 'A' and 'B'
duplicated_rows = df[df.duplicated(subset=['A', 'B'], keep=False)].index

# Display the duplicated rows
print("\nDuplicated rows based on columns 'A' and 'B':")
print(duplicated_rows)

Original DataFrame:
   A  B   C
0  1  5   9
1  2  6  10
2  1  5   9
3  4  8  12
4  2  6  13

Duplicated rows based on columns 'A' and 'B':
Index([0, 1, 2, 4], dtype='int64')

In [ ]:
import pandas as pd
import numpy as np

# Sample DataFrame
data = {
    'A': [1, 2, np.nan, 4, np.nan],
    'B': [5, np.nan, np.nan, 8, np.nan],
    'C': [9, 10, 11, np.nan, 13]
}

df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:")
print(df)

# Identify rows where columns 'A' and 'B' both have null values
null_combination_rows = df[df[['A', 'B']].isna().all(axis=1)].index

# Display the rows where both 'A' and 'B' are null
print("\nRows where columns 'A' and 'B' both have null values:")
print(null_combination_rows)

null_list = df[df[['A', 'B']].isna().all(axis=1)].index

df.iloc[df.index.difference(null_list)]

Original DataFrame:
     A    B     C
0  1.0  5.0   9.0
1  2.0  NaN  10.0
2  NaN  NaN  11.0
3  4.0  8.0   NaN
4  NaN  NaN  13.0

Rows where columns 'A' and 'B' both have null values:
Index([2, 4], dtype='int64')

     A    B     C
0  1.0  5.0   9.0
1  2.0  NaN  10.0
3  4.0  8.0   NaN

In [ ]:
data

{'A': [1, 2, nan, 4, nan],
 'B': [5, nan, nan, 8, nan],
 'C': [9, 10, 11, nan, 13]}

In [ ]:
float("5.0")

5.0

In [ ]:
int(0.000005)

0

In [ ]:
isinstance(0.000005, int)

False

In [ ]:
isinstance(0.000005, float)

True

In [ ]:
def datatype(v):
    try:
        float_v = float(v) # generating error for string
        # print(str(v))
        if "." in str(v):
            v = str(v).lstrip("-")
            after_decimal = len(v.split(".")[1])
            before_decimal = len(v.split(".")[0])
            decimal_format = f"decimal({str(before_decimal + after_decimal)},{str(after_decimal)})"
            return "decimal", decimal_format
        if 'e-' in str(v):
            return "deci",""
        if (str(float_v) != str(v)): # 3.0 != 3
            print(int(v))
            if int(v) == 0:
                return "integer","zero"
            elif int(v) < 0:
                return "integer","negative"
            else:
                return "integer",""
        decimal_format = ""
    except ValueError:
        return "string",""

In [ ]:
print(datatype(0.00007))

('deci', '')

In [ ]:
str(0.00007)

'7e-05'

In [ ]:
v = -0.007
if v < 0:
    print("negative")
else:
    print("positive")

vv = 0.0000
if vv == 0:
    print("zero...")

negative
zero...

In [31]:
import pandas as pd

# Sample DataFrame with date values, including some non-convertible values
data = {
    'date': ['2023-01-01', '2023-02-15', 'invalid_date', '2023-04-05', 'another_invalid_date'],
    'value': [10, 20, 30, 40, 50]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Convert the 'date' column to datetime format, ignoring non-convertible values
df['date'] = pd.to_datetime(df['date'], errors='coerce')

# Drop rows with NaT values in the 'date' column
df_clean = df.dropna(subset=['date'])

# Display the DataFrame after conversion and dropping NaT values
print("DataFrame after conversion and dropping NaT values:")
print(df_clean)

# Identify the minimum date and its index
min_date = df_clean['date'].min()
min_date_index = df_clean['date'].idxmin()

# Identify the maximum date and its index
# max_date = df_clean['date'].max()
max_date_index = df_clean['date'].idxmax()

max_date_value = df_clean.loc[max_date_index, 'value'] 

# Display the results
print("\nMinimum date:", min_date)
print("Index of minimum date:", min_date_index)
# print("\nMaximum date:", max_date)
print("Index of maximum date:", max_date_index)

print("Value of another column at max date:", max_date_value)

DataFrame after conversion and dropping NaT values:
        date  value
0 2023-01-01     10
1 2023-02-15     20
3 2023-04-05     40

Minimum date: 2023-01-01 00:00:00
Index of minimum date: 0
Index of maximum date: 3
Value of another column at max date: 40

In [35]:
len(data)

2

In [42]:

import csv
import json
data = {}
with open("Wekalp System Quality.csv", encoding='utf-8') as csvf:
        csvReader = csv.DictReader(csvf)
         
        # Convert each row into a dictionary 
        # and add it to data
        print(csvReader)
        for i, _ in enumerate(myreader, start=1):
            print("Row %d/%d" % (i, totalrows))
        
print(data)

<csv.DictReader object at 0x0000021C18517450>
{}

In [44]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

In [50]:
dd = [{obj} for obj in data]

In [58]:
dd

({1: 'hello'}, {2: 'this'})

In [64]:
import pandas as pd

# Sample DataFrame
data = {'key': [1, 2, 3], 'value': ['a', 'b', 'c']}
df = pd.DataFrame(data)

# Create dictionary using list comprehension
key_value_dict = {row['key']: row['value'] for _, row in df.iterrows()}

print(key_value_dict)

{1: 'a', 2: 'b', 3: 'c'}

In [67]:
for key, value in key_value_dict.items():
    print(key, value)

1 a
2 b
3 c

In [74]:

# import pandas library as pd
import pandas as pd
 
# create an Empty DataFrame
# object With column names only
df = pd.DataFrame(columns = ['Name', 'Articles', 'Improved'])
print(df)
 
# append rows to an empty DataFrame
df = df._append({'Name' : 'Ankit', 'Articles' : '01-01-2020', 'Improved' : 2200},
        ignore_index = True)

 
df

Empty DataFrame
Columns: [Name, Articles, Improved]
Index: []

    Name    Articles Improved
0  Ankit  01-01-2020     2200

In [79]:
df = df._append({'Name' : 'Ankit1', 'Articles' : '01-02-2020', 'Improved' : 1200},
        ignore_index = True)
df = df._append({'Name' : 'Ankit2', 'Articles' : '01-02-2020', 'Improved' : 3200},
        ignore_index = True)

In [80]:
df

     Name    Articles Improved
0   Ankit  01-01-2020     2200
1  Ankit1  01-01-2020     1200
2  Ankit2  01-01-2020     3200
3  Ankit1  01-02-2020     1200
4  Ankit2  01-02-2020     3200

In [84]:
# indexes_exist = stats_df[(stats_df.version_id == source_version_dtl.version_id) & 
#                             (stats_df.business_date == source_version_dtl.business_date) & 
#                             (stats_df.table_id == source_version_dtl.upload_table_id)].index
#     stats_df.drop(indexes_exist, inplace=True)
    
df[(df.Articles == '01-01-2020') & (df.Name == 'Ankit1')].index

Index([1], dtype='int64')

In [88]:
stats_df = pd.read_csv("source_quality_col_stats.csv")
stats_df

,version_id,business_date,table_id,colum_id,col_sum,col_min,col_max,col_median,col_std,record_len
0,45,2020-01-01,25,201,7.502455e+03,9.9e-06,0.9999815,4.994709e-01,2.898502e-01,14998
1,45,2020-01-01,25,202,4.311434e+10,19240.44,12330496.73,1.404328e+06,3.321766e+06,14998
2,45,2020-01-01,25,207,1.002626e+10,121244.03,1212160.3,6.703327e+05,3.161427e+05,14998
3,45,2020-01-01,25,205,NaN,09-12-22,01-01-26,NaN,NaN,14998

In [96]:
stats_df['business_date'] = pd.to_datetime(stats_df['business_date'], format='%Y-%m-%d')

In [107]:
indexes_exist = stats_df[(stats_df.version_id == 45) & 
                            (stats_df.table_id == 25)].index

In [110]:
stats_df.drop(indexes_exist, inplace=True)

In [111]:
stats_df

Empty DataFrame
Columns: [version_id, business_date, table_id, colum_id, col_sum, col_min, col_max, col_median, col_std, record_len]
Index: []

In [106]:
indexAge = df[(df['Name'] == 'John Holland') | (df['Position'] == 'SG')].index

df.drop(indexAge, inplace=True)
df.head(15)

Index([], dtype='int64')