In [2]:
import pandas as pd

In [27]:
df = pd.read_csv('Forwards.csv')

In [28]:
df.head(2)

,India Id,Trade Id,Product Description,Trade Date,Start Date,MR_MATURITY_DATE,Entered Date,CounterParty (F),Book,Buy/Sell,Currency Pair,Prim Cur,Prim Amt,Trade Price,Sec Cur,Sec Amt,TradeStatus
0,26997,13782015.0,2199667/FXFlexiForward/MerchantFX/RETAIL/USD/I...,01-03-21 0:00,01-09-21,07-03-24,01-03-21 0:00,Counterparty 1,TB.IND.TRADING.TIMEOPT,Buy,USD/INR,USD,450000,75.38,INR,-33921000.00,VERIFIED
1,27966,14734932.0,2219298/FXFlexiForward/MerchantFX/RETAIL/USD/I...,12-03-21 0:00,30-07-21,23-03-25,12-03-21 0:00,Counterparty 2,TB.IND.TRADING.TIMEOPT,Buy,USD/INR,USD,83395.63,74.21,INR,-6188581.22,VERIFIED

In [35]:
table = pd.pivot_table(df, values='Sec Amt', index=['CounterParty (F)', 'Book'],
                       columns=['Buy/Sell','Prim Cur'], aggfunc="sum")

In [37]:
table.head(3)

Buy/Sell                                        Buy         Sell
Prim Cur                                        USD          USD
CounterParty (F) Book
Counterparty 1   TB.IND.TRADING.TIMEOPT -33921000.0          NaN
Counterparty 10  TB.IND.TRADING.TIMEOPT         NaN  18716269.43
Counterparty 11  TB.IND.TRADING.TIMEOPT         NaN  23284669.84

In [39]:
table.to_json(orient='columns')

'{"(\'Buy\', \'USD\')":{"(\'Counterparty 1\', \'TB.IND.TRADING.TIMEOPT\')":-33921000.0,"(\'Counterparty 10\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 11\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 12\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 13\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 14\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 15\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 16\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 17\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 18\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 19\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 2\', \'TB.IND.TRADING.TIMEOPT\')":-6188581.2199999997,"(\'Counterparty 20\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 21\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 22\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 23\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 24\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 25\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 26\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 27\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 3\', \'TB.IND.TRADING.TIMEOPT\')":-74635000.0,"(\'Counterparty 4\', \'TB.IND.TRADING.TIMEOPT\')":-71162125.0,"(\'Counterparty 5\', \'TB.IND.TRADING.TIMEOPT\')":-71409125.0,"(\'Counterparty 6\', \'TB.IND.TRADING.TIMEOPT\')":0.0,"(\'Counterparty 7\', \'TB.IND.TRADING.TIMEOPT\')":-149902600.0,"(\'Counterparty 8\', \'TB.IND.TRADING.TIMEOPT\')":-75205000.0,"(\'Counterparty 9\', \'TB.IND.TRADING.TIMEOPT\')":-75745000.0},"(\'Sell\', \'USD\')":{"(\'Counterparty 1\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 10\', \'TB.IND.TRADING.TIMEOPT\')":18716269.4299999997,"(\'Counterparty 11\', \'TB.IND.TRADING.TIMEOPT\')":23284669.8399999999,"(\'Counterparty 12\', \'TB.IND.TRADING.TIMEOPT\')":1331773.0,"(\'Counterparty 13\', \'TB.IND.TRADING.TIMEOPT\')":13081414.5,"(\'Counterparty 14\', \'TB.IND.TRADING.TIMEOPT\')":18075676.5,"(\'Counterparty 15\', \'TB.IND.TRADING.TIMEOPT\')":369562500.0,"(\'Counterparty 16\', \'TB.IND.TRADING.TIMEOPT\')":736200000.0,"(\'Counterparty 17\', \'TB.IND.TRADING.TIMEOPT\')":0.0,"(\'Counterparty 18\', \'TB.IND.TRADING.TIMEOPT\')":765579.62,"(\'Counterparty 19\', \'TB.IND.TRADING.TIMEOPT\')":73091302.0100000054,"(\'Counterparty 2\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 20\', \'TB.IND.TRADING.TIMEOPT\')":0.0,"(\'Counterparty 21\', \'TB.IND.TRADING.TIMEOPT\')":63692625.0,"(\'Counterparty 22\', \'TB.IND.TRADING.TIMEOPT\')":70471800.0,"(\'Counterparty 23\', \'TB.IND.TRADING.TIMEOPT\')":206222500.0,"(\'Counterparty 24\', \'TB.IND.TRADING.TIMEOPT\')":210097345.3000000119,"(\'Counterparty 25\', \'TB.IND.TRADING.TIMEOPT\')":68735004.3799999952,"(\'Counterparty 26\', \'TB.IND.TRADING.TIMEOPT\')":374750000.0,"(\'Counterparty 27\', \'TB.IND.TRADING.TIMEOPT\')":299480000.0,"(\'Counterparty 3\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 4\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 5\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 6\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 7\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 8\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 9\', \'TB.IND.TRADING.TIMEOPT\')":null}}'

In [18]:
type(table)

pandas.core.frame.DataFrame

In [30]:
import numpy as np
import pandas as pd
data = {
    'Category': ['A', 'A', 'B', 'B', 'C'],
    'Category1': ['AA', 'AB', 'BB', 'BB', 'AC'],
    'Set': ['Set A', 'Set A', 'Set A', 'Set B','Set B'],
    'Test': ['Test A', 'Test A', 'Test B', 'Test B','Test B'],
    'Value1': [10, 20, 30, 40, 50],
    'Value2': [5, 15, 25, 35, 45]
}
df = pd.DataFrame(data)
pivot_table = df.pivot_table(
    index=['Category','Category1'],
    columns=['Set','Test'],
    values=['Value1', 'Value2'],
    aggfunc='sum',
    margins=True,
    margins_name="total"
)

In [31]:
pivot_table.columns

MultiIndex([('Value1', 'Set A', 'Test A'),
            ('Value1', 'Set A', 'Test B'),
            ('Value1', 'Set B', 'Test B'),
            ('Value1', 'total',       ''),
            ('Value2', 'Set A', 'Test A'),
            ('Value2', 'Set A', 'Test B'),
            ('Value2', 'Set B', 'Test B'),
            ('Value2', 'total',       '')],
           names=[None, 'Set', 'Test'])

In [32]:
pivot_table

                   Value1                     Value2
Set                 Set A         Set B total  Set A         Set B total
Test               Test A Test B Test B       Test A Test B Test B
Category Category1
A        AA          10.0    NaN    NaN    10    5.0    NaN    NaN     5
         AB          20.0    NaN    NaN    20   15.0    NaN    NaN    15
B        BB           NaN   30.0   40.0    70    NaN   25.0   35.0    60
C        AC           NaN    NaN   50.0    50    NaN    NaN   45.0    45
total                30.0   30.0   90.0   150   20.0   25.0   80.0   125

In [35]:
pivot_table.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr>\n      <th></th>\n      <th></th>\n      <th colspan="4" halign="left">Value1</th>\n      <th colspan="4" halign="left">Value2</th>\n    </tr>\n    <tr>\n      <th></th>\n      <th>Set</th>\n      <th colspan="2" halign="left">Set A</th>\n      <th>Set B</th>\n      <th>total</th>\n      <th colspan="2" halign="left">Set A</th>\n      <th>Set B</th>\n      <th>total</th>\n    </tr>\n    <tr>\n      <th></th>\n      <th>Test</th>\n      <th>Test A</th>\n      <th>Test B</th>\n      <th>Test B</th>\n      <th></th>\n      <th>Test A</th>\n      <th>Test B</th>\n      <th>Test B</th>\n      <th></th>\n    </tr>\n    <tr>\n      <th>Category</th>\n      <th>Category1</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th rowspan="2" valign="top">A</th>\n      <th>AA</th>\n      <td>10.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>10</td>\n      <td>5.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>5</td>\n    </tr>\n    <tr>\n      <th>AB</th>\n      <td>20.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>20</td>\n      <td>15.0</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>15</td>\n    </tr>\n    <tr>\n      <th>B</th>\n      <th>BB</th>\n      <td>NaN</td>\n      <td>30.0</td>\n      <td>40.0</td>\n      <td>70</td>\n      <td>NaN</td>\n      <td>25.0</td>\n      <td>35.0</td>\n      <td>60</td>\n    </tr>\n    <tr>\n      <th>C</th>\n      <th>AC</th>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>50.0</td>\n      <td>50</td>\n      <td>NaN</td>\n      <td>NaN</td>\n      <td>45.0</td>\n      <td>45</td>\n    </tr>\n    <tr>\n      <th>total</th>\n      <th></th>\n      <td>30.0</td>\n      <td>30.0</td>\n      <td>90.0</td>\n      <td>150</td>\n      <td>20.0</td>\n      <td>25.0</td>\n      <td>80.0</td>\n      <td>125</td>\n    </tr>\n  </tbody>\n</table>'

In [10]:
import pandas as pd

# Sample DataFrame
data = {
    'Category': ['A', 'A', 'B', 'B', 'C'],
    'Value1': [10, 20, 30, 40, 50],
    'Value2': [5, 15, 25, 35, 45]
}

df = pd.DataFrame(data)

# Check for duplicate column names (optional safeguard)
if df.columns.duplicated().any():
    raise ValueError("Duplicate column names found.")

df.reset_index(drop=True, inplace=True)  # Resetting the index

# Define aggregation functions
aggfunc = {
    'Value1': ['sum', 'mean'],  # Sum and mean for Value1
    'Value2': ['min', 'max']     # Min and max for Value2
}

# Create the pivot table
try:
    pivot_table = pd.pivot_table(
        data=df,
        index='Category',
        values=['Value1', 'Value2'],
        aggfunc=aggfunc,
        fill_value=0,  # Replace missing values with 0
        margins=True,  # Include row/column totals
        margins_name='Total'  # Custom name for totals
    )
    print(pivot_table)
except Exception as e:
    print("An error occurred:", e)

An error occurred: The name None occurs multiple times, use a level number

In [11]:
import pandas as pd

# Sample DataFrame
data = {
    'Category': ['A', 'A', 'B', 'B', 'C'],
    'Value1': [10, 20, 30, 40, 50],
    'Value2': [5, 15, 25, 35, 45]
}

df = pd.DataFrame(data)

# Group by 'Category' and manually aggregate
grouped = df.groupby('Category').agg({
    'Value1': ['sum', 'mean'],   # Sum and mean for Value1
    'Value2': ['min', 'max']     # Min and max for Value2
})

# Flatten the MultiIndex columns for better readability
grouped.columns = ['_'.join(col) for col in grouped.columns]

# Reset the index to make 'Category' a column again
grouped = grouped.reset_index()

# Add a 'Total' row (margins)
total_row = pd.DataFrame(grouped.iloc[:, 1:].sum()).T  # Sum of numeric columns
total_row.insert(0, 'Category', 'Total')  # Add 'Total' in Category column

# Concatenate the total row with the grouped data
pivot_manual = pd.concat([grouped, total_row], ignore_index=True)

print(pivot_manual)

  Category  Value1_sum  Value1_mean  Value2_min  Value2_max
0        A        30.0         15.0         5.0        15.0
1        B        70.0         35.0        25.0        35.0
2        C        50.0         50.0        45.0        45.0
3    Total       150.0        100.0        75.0        95.0

In [12]:
import pandas as pd

# Sample DataFrame
data = {
    'Category': ['A', 'A', 'B', 'B', 'C'],
    'Value1': [10, 20, 30, 40, 50],
    'Value2': [5, 15, 25, 35, 45]
}

df = pd.DataFrame(data)

# Check for duplicate columns
if df.columns.duplicated().any():
    raise ValueError("Duplicate column names found.")

# Reset index if necessary
df.reset_index(drop=True, inplace=True)

# Define rows, values, and aggfuncs
rows_list = ['Category']
values_list = ['Value1', 'Value2']

# Define custom aggregation functions
aggfunc = {
    'Value1': ['sum', 'mean'],  # Sum and mean for Value1
    'Value2': ['min', 'max']    # Min and max for Value2
}

# Step 1: Group by 'Category' and apply aggregation functions
grouped = df.groupby(rows_list).agg(aggfunc)

# Step 2: Flatten the MultiIndex columns for readability
grouped.columns = ['_'.join(col) for col in grouped.columns]

# Step 3: Reset the index to make 'Category' a column again
grouped = grouped.reset_index()

# Step 4: Add a 'Total' row (margins)
total_row = pd.DataFrame(grouped.iloc[:, 1:].sum()).T  # Sum all numeric columns
total_row.insert(0, 'Category', 'Total')  # Add 'Total' label to 'Category' column

# Step 5: Concatenate the total row with the grouped data
pivot_manual = pd.concat([grouped, total_row], ignore_index=True)

# Display the manual pivot table
print(pivot_manual)

  Category  Value1_sum  Value1_mean  Value2_min  Value2_max
0        A        30.0         15.0         5.0        15.0
1        B        70.0         35.0        25.0        35.0
2        C        50.0         50.0        45.0        45.0
3    Total       150.0        100.0        75.0        95.0

In [50]:
import pandas as pd

# Sample DataFrame
data = {
    'Department': ['A', 'A', 'B', 'B', 'C'],
    'Sub-Department': ['A', 'AA', 'AB', 'BB', 'cC'],
    'Type': ['X', 'Y', 'X', 'Y', 'X'],
    'MRP': [10, 20, 30, 40, 50],
    'DMRP': [5, 15, 25, 35, 45]
}

df = pd.DataFrame(data)

# Define pivot components
rows_list = ['Department', 'Sub-Department']         # Rows to group by
columns_list = ['Type']           # Columns to pivot
filters_list = {'Department':'A'}    
values_list = {'MRP','DMRP'}# Filters (e.g., {'Value1': 30})
aggfunc_list = {'MRP': ['sum'], 'DMRP': ['mean', 'min', 'max']}  # Aggregation functions

# Step 1: Apply filters if any
if filters_list:
    for col, val in filters_list.items():
        df = df[df[col] == val]
grouped = df.groupby(rows_list + columns_list).agg(aggfunc_list)
pivot = grouped.unstack(columns_list, fill_value=0)
print(f"********pivot=={pivot}")
# pivot.columns = ['_'.join(map(str, col)).strip() for col in pivot.columns]

pivot = pivot.reset_index()

# # Step 6: Optionally add a 'Total' row for margins


# total_col = pd.DataFrame(pivot.columns.get_level_values(0))
new_pivot = pd.DataFrame()
for total in values_list:
    new_df = pivot[total]
    pivot['Total of ' + total] = new_df.sum(axis=1)
    # new_pivot = pd.concat([new_pivot, new_df], axis=1)

print(pivot)


for cols in columns_list:
    new_row[cols] = pivot[cols].sum()
    
    # new_pivot = pd.concat([new_pivot, new_df], axis=1)
    

# # Display the manual pivot table
# print(pivot_manual)

********pivot==                          MRP     DMRP
                          sum     mean       min     max
Type                        X   Y    X     Y   X   Y   X   Y
Department Sub-Department
A          A               10   0  5.0   0.0   5   0   5   0
           AA               0  20  0.0  15.0   0  15   0  15
     Department Sub-Department MRP     DMRP                        \
                               sum     mean       min     max
Type                             X   Y    X     Y   X   Y   X   Y
0             A              A  10   0  5.0   0.0   5   0   5   0
1             A             AA   0  20  0.0  15.0   0  15   0  15

     Total of DMRP Total of MRP

Type
0             15.0           10
1             45.0           20

In [14]:
import pandas as pd

# Sample DataFrame
data = {
    'Category': ['A', 'A', 'B', 'B', 'C'],
    'Type': ['X', 'Y', 'X', 'Y', 'X'],
    'Value1': [10, 20, 30, 40, 50],
    'Value2': [5, 15, 25, 35, 45]
}

df = pd.DataFrame(data)

# Group by 'Category' and 'Type' and calculate sum of 'Value1'
grouped = df.groupby(['Department', 'Type']).agg({'Value1': 'sum'})

print("Grouped DataFrame (MultiIndex):")
print(grouped)

# Use unstack to pivot the 'Type' level into columns
pivot = grouped.unstack()

print("\nUnstacked DataFrame (Pivoted):")
print(pivot)

Grouped DataFrame (MultiIndex):
               Value1
Category Type
A        X         10
         Y         20
B        X         30
         Y         40
C        X         50

Unstacked DataFrame (Pivoted):
         Value1
Type          X     Y
Category
A          10.0  20.0
B          30.0  40.0
C          50.0   NaN