In [2]:
import pandas as pd

In [27]:
df = pd.read_csv('Forwards.csv')

In [28]:
df.head(2)

,India Id,Trade Id,Product Description,Trade Date,Start Date,MR_MATURITY_DATE,Entered Date,CounterParty (F),Book,Buy/Sell,Currency Pair,Prim Cur,Prim Amt,Trade Price,Sec Cur,Sec Amt,TradeStatus
0,26997,13782015.0,2199667/FXFlexiForward/MerchantFX/RETAIL/USD/I...,01-03-21 0:00,01-09-21,07-03-24,01-03-21 0:00,Counterparty 1,TB.IND.TRADING.TIMEOPT,Buy,USD/INR,USD,450000,75.38,INR,-33921000.00,VERIFIED
1,27966,14734932.0,2219298/FXFlexiForward/MerchantFX/RETAIL/USD/I...,12-03-21 0:00,30-07-21,23-03-25,12-03-21 0:00,Counterparty 2,TB.IND.TRADING.TIMEOPT,Buy,USD/INR,USD,83395.63,74.21,INR,-6188581.22,VERIFIED

In [35]:
table = pd.pivot_table(df, values='Sec Amt', index=['CounterParty (F)', 'Book'],
                       columns=['Buy/Sell','Prim Cur'], aggfunc="sum")

In [37]:
table.head(3)

Buy/Sell                                        Buy         Sell
Prim Cur                                        USD          USD
CounterParty (F) Book
Counterparty 1   TB.IND.TRADING.TIMEOPT -33921000.0          NaN
Counterparty 10  TB.IND.TRADING.TIMEOPT         NaN  18716269.43
Counterparty 11  TB.IND.TRADING.TIMEOPT         NaN  23284669.84

In [39]:
table.to_json(orient='columns')

'{"(\'Buy\', \'USD\')":{"(\'Counterparty 1\', \'TB.IND.TRADING.TIMEOPT\')":-33921000.0,"(\'Counterparty 10\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 11\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 12\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 13\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 14\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 15\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 16\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 17\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 18\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 19\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 2\', \'TB.IND.TRADING.TIMEOPT\')":-6188581.2199999997,"(\'Counterparty 20\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 21\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 22\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 23\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 24\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 25\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 26\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 27\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 3\', \'TB.IND.TRADING.TIMEOPT\')":-74635000.0,"(\'Counterparty 4\', \'TB.IND.TRADING.TIMEOPT\')":-71162125.0,"(\'Counterparty 5\', \'TB.IND.TRADING.TIMEOPT\')":-71409125.0,"(\'Counterparty 6\', \'TB.IND.TRADING.TIMEOPT\')":0.0,"(\'Counterparty 7\', \'TB.IND.TRADING.TIMEOPT\')":-149902600.0,"(\'Counterparty 8\', \'TB.IND.TRADING.TIMEOPT\')":-75205000.0,"(\'Counterparty 9\', \'TB.IND.TRADING.TIMEOPT\')":-75745000.0},"(\'Sell\', \'USD\')":{"(\'Counterparty 1\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 10\', \'TB.IND.TRADING.TIMEOPT\')":18716269.4299999997,"(\'Counterparty 11\', \'TB.IND.TRADING.TIMEOPT\')":23284669.8399999999,"(\'Counterparty 12\', \'TB.IND.TRADING.TIMEOPT\')":1331773.0,"(\'Counterparty 13\', \'TB.IND.TRADING.TIMEOPT\')":13081414.5,"(\'Counterparty 14\', \'TB.IND.TRADING.TIMEOPT\')":18075676.5,"(\'Counterparty 15\', \'TB.IND.TRADING.TIMEOPT\')":369562500.0,"(\'Counterparty 16\', \'TB.IND.TRADING.TIMEOPT\')":736200000.0,"(\'Counterparty 17\', \'TB.IND.TRADING.TIMEOPT\')":0.0,"(\'Counterparty 18\', \'TB.IND.TRADING.TIMEOPT\')":765579.62,"(\'Counterparty 19\', \'TB.IND.TRADING.TIMEOPT\')":73091302.0100000054,"(\'Counterparty 2\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 20\', \'TB.IND.TRADING.TIMEOPT\')":0.0,"(\'Counterparty 21\', \'TB.IND.TRADING.TIMEOPT\')":63692625.0,"(\'Counterparty 22\', \'TB.IND.TRADING.TIMEOPT\')":70471800.0,"(\'Counterparty 23\', \'TB.IND.TRADING.TIMEOPT\')":206222500.0,"(\'Counterparty 24\', \'TB.IND.TRADING.TIMEOPT\')":210097345.3000000119,"(\'Counterparty 25\', \'TB.IND.TRADING.TIMEOPT\')":68735004.3799999952,"(\'Counterparty 26\', \'TB.IND.TRADING.TIMEOPT\')":374750000.0,"(\'Counterparty 27\', \'TB.IND.TRADING.TIMEOPT\')":299480000.0,"(\'Counterparty 3\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 4\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 5\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 6\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 7\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 8\', \'TB.IND.TRADING.TIMEOPT\')":null,"(\'Counterparty 9\', \'TB.IND.TRADING.TIMEOPT\')":null}}'

In [18]:
type(table)

pandas.core.frame.DataFrame

In [20]:
data = {
    'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
    'Values': [10, 20, 30, 40, 50, 60]
}
df = pd.DataFrame(data)

pivot_table = pd.pivot_table(df, values='Values', index='Category', aggfunc='sum')
pivot_df = pivot_table.reset_index()
json_records = pivot_df.to_json(orient='records')
json_index = pivot_df.to_json(orient='index')
json_columns = pivot_df.to_json(orient='columns')

print("JSON Records:\n", json_records)
print("JSON Index:\n", json_index)
print("JSON Columns:\n", json_columns)

JSON Records:
 [{"Category":"A","Values":30},{"Category":"B","Values":70},{"Category":"C","Values":110}]
JSON Index:
 {"0":{"Category":"A","Values":30},"1":{"Category":"B","Values":70},"2":{"Category":"C","Values":110}}
JSON Columns:
 {"Category":{"0":"A","1":"B","2":"C"},"Values":{"0":30,"1":70,"2":110}}

In [21]:
pivot_table

          Values
Category
A             30
B             70
C            110