In [2]:
from openpyxl import Workbook

workbook = Workbook()
sheet = workbook.active

sheet["A1"] = "hello"
sheet["B1"] = "world!"

workbook.save(filename="hello_world.xlsx")

In [3]:
from openpyxl import load_workbook
workbook = load_workbook(filename="./sections_data (1).xlsx")
workbook.sheetnames

['Sheet1']

In [4]:
main_sheet = workbook["Sheet1"]

In [5]:
main_sheet["A1"].value

In [6]:
def get_rows(sheet):
    row_list = list()
    for row in sheet.iter_rows(values_only=True):
        row_list.append(row)
        
    return row_list

In [7]:
rows = get_rows(main_sheet)

In [8]:
rows

[(None, None, None, None, None, None, None, None),
 (None, None, None, None, None, None, None, None),
 (None, None, 'Col1', 'Col2', 'Col3', None, 'Col11', 'Col12'),
 (None, None, 100, 100, 100, None, 200, 200),
 (None, None, 100, 100, 100, None, 200, 200),
 (None, None, 100, 100, 100, None, 200, 200),
 (None, None, None, None, None, None, None, None),
 (None, None, None, 'Col1', 'Col2', 'Col3', 'Col4', None),
 (None, None, None, 300, 300, 300, 300, None),
 (None, None, None, 300, 300, 300, 300, None),
 (None, None, None, 300, 300, 300, 300, None),
 (None, None, None, 300, 300, 300, 300, None)]

In [9]:
type(rows)

list

In [10]:
import pandas as pd
df = pd.DataFrame(rows)

In [11]:
df

       0     1     2     3     4     5      6      7
0   None  None  None  None  None  None   None   None
1   None  None  None  None  None  None   None   None
2   None  None  Col1  Col2  Col3  None  Col11  Col12
3   None  None   100   100   100  None    200    200
4   None  None   100   100   100  None    200    200
5   None  None   100   100   100  None    200    200
6   None  None  None  None  None  None   None   None
7   None  None  None  Col1  Col2  Col3   Col4   None
8   None  None  None   300   300   300    300   None
9   None  None  None   300   300   300    300   None
10  None  None  None   300   300   300    300   None
11  None  None  None   300   300   300    300   None

In [12]:
df

       0     1     2     3     4     5      6      7
0   None  None  None  None  None  None   None   None
1   None  None  None  None  None  None   None   None
2   None  None  Col1  Col2  Col3  None  Col11  Col12
3   None  None   100   100   100  None    200    200
4   None  None   100   100   100  None    200    200
5   None  None   100   100   100  None    200    200
6   None  None  None  None  None  None   None   None
7   None  None  None  Col1  Col2  Col3   Col4   None
8   None  None  None   300   300   300    300   None
9   None  None  None   300   300   300    300   None
10  None  None  None   300   300   300    300   None
11  None  None  None   300   300   300    300   None

In [16]:
rows = df.index.stop

In [15]:
cols = df.columns.stop

In [36]:
rows

12

In [74]:
r = 0
c = 0
dd = dict()
key = 0
start_c = 0

while(r < rows):
    
    dd["key"+str(key)] = dict()    
    
    if(df.iloc[r,c] != None):
        print("starting...")
        start_r = r
        start_c = c
        print(r,c)
    
    while c < cols and df.iloc[r,c] != None:
        c = c + 1
    
    if (c > start_c and df.iloc[r, c-1] != None):
        print("ending...")
        print(r, c)
        
    if (df.iloc[r, c-1])
    r = r + 1 
    
    if ( r == rows ):
        r = 0
        c = c + 1
# dd["key"+str(key)]["r"] = r
# dd["key"+str(key)]["c"] = c

starting...
2 2
ending...
2 5
ending...
3 5
ending...
4 5
ending...
5 5
starting...
7 5
ending...
7 7
ending...
8 7
ending...
9 7
ending...
10 7
ending...
11 7

IndexError: index 8 is out of bounds for axis 0 with size 8

In [65]:
r, c

(12, 0)

In [43]:
dd

{'key0': {'r': 12, 'c': 0}}

In [22]:
df.isnull().any(axis=0)

0    True
1    True
2    True
3    True
4    True
5    True
dtype: bool