In [2]:
from openpyxl import Workbook

workbook = Workbook()
sheet = workbook.active

sheet["A1"] = "hello"
sheet["B1"] = "world!"

workbook.save(filename="hello_world.xlsx")

In [3]:
from openpyxl import load_workbook
workbook = load_workbook(filename="./../new_test/sections_data.xlsx")
workbook.sheetnames

['Sheet1']

In [4]:
main_sheet = workbook["Sheet1"]

In [5]:
main_sheet["A1"].value

'Col1'

In [6]:
def get_rows(sheet):
    row_list = list()
    for row in sheet.iter_rows(values_only=True):
        row_list.append(row)
        
    return row_list

In [7]:
tables = get_rows(main_sheet)

In [1]:
def split_list_by_value(lst, split_value):
    
    sublists = []
    sublist = []

    for item in lst:
        
        if item != split_value:
            sublist.append(item)
        else:
            sublists.append(sublist)
            sublist = []
    # Append the remaining sublist after the last split value
    if(len(sublist)>0):
        sublists.append(sublist)

    return sublists


# Example usage:
my_list = [1, 2, 3, 0, 4, 5, 0, 6, 7,8,0]
split_value = 0
result = split_list_by_value(my_list, split_value)
print(result)

[[1, 2, 3], [4, 5], [6, 7, 8]]

In [9]:
tables

[('Col1',
  'Col2',
  'Col3',
  None,
  'Col11',
  'Col12',
  None,
  'Col11',
  'Col12',
  None),
 (100, 100, 100, None, 100, 100, None, 100, 100, None),
 (100, 100, 100, None, 100, 100, None, 100, 100, None),
 (100, 100, 100, None, 100, 100, None, 100, 100, None),
 (100, 100, 100, None, 100, 100, None, 100, 100, None),
 (100, 100, 100, None, 100, 100, None, 100, 100, None),
 (100, 100, 100, None, 100, 100, None, 100, 100, None),
 (100, 100, 100, None, 100, 100, None, 100, 100, None),
 (100, 100, 100, None, 100, 100, None, 100, 100, None),
 (None, None, None, None, None, None, None, None, None, None),
 (None, 'Col1', 'Col2', 'Col3', 'Col4', None, 'Col1', 'Col2', 'Col3', 'Col4'),
 (None, 10, 100, 100, 100, None, 10, 100, 100, 100),
 (None, 10, 100, 100, 100, None, 10, 100, 100, 100),
 (None, 10, 100, 100, 100, None, 10, 100, 100, 100),
 (None, 10, 100, 100, 100, None, 10, 100, 100, 100)]

In [30]:
lst = {}
cnt = 0
for cols in tables:
    res = split_list_by_value(cols, None)
    if(len(res[0]) != 0): ## old rows..
        pass
    
    lst[cnt] = {}
    
    for r in range(0,len(res)):
        if len(res[r]) >0:
            lst[cnt][r] = res[r]
    cnt+=1
    # print(res)

In [41]:
tables

[('Col1',
  'Col2',
  'Col3',
  None,
  'Col11',
  'Col12',
  None,
  'Col11',
  'Col12',
  None),
 (100, 100, 100, None, 100, 100, None, 100, 100, None),
 (100, 100, 100, None, 100, 100, None, 100, 100, None),
 (100, 100, 100, None, 100, 100, None, 100, 100, None),
 (100, 100, 100, None, 100, 100, None, 100, 100, None),
 (100, 100, 100, None, 100, 100, None, 100, 100, None),
 (100, 100, 100, None, 100, 100, None, 100, 100, None),
 (100, 100, 100, None, 100, 100, None, 100, 100, None),
 (100, 100, 100, None, 100, 100, None, 100, 100, None),
 (None, None, None, None, None, None, None, None, None, None),
 (None, 'Col1', 'Col2', 'Col3', 'Col4', None, 'Col1', 'Col2', 'Col3', 'Col4'),
 (None, 10, 100, 100, 100, None, 10, 100, 100, 100),
 (None, 10, 100, 100, 100, None, 10, 100, 100, 100),
 (None, 10, 100, 100, 100, None, 10, 100, 100, 100),
 (None, 10, 100, 100, 100, None, 10, 100, 100, 100)]

In [67]:
type(tables)

list

In [79]:
max_col = len(tables[0])
max_row = len(tables)

15

In [89]:
c = 0
r = 0
while (c < max_col):
    
    while tables[r][c] != None:
        c = c + 1
        pass
  
    print(str(c) + " " + str(r))
    c = c + 1

c =0    
while(r < max_row):
    while tables[r][c] != None:
        r = r + 1
        pass
    print(str(c) + " " + str(r))
    r = r + 1

3 0
6 0
9 0
0 9
0 10
0 11
0 12
0 13
0 14