In [168]:
from openpyxl import Workbook

workbook = Workbook()
sheet = workbook.active

sheet["A1"] = "hello"
sheet["B1"] = "world!"

workbook.save(filename="hello_world.xlsx")

In [169]:
from openpyxl import load_workbook
workbook = load_workbook(filename="./../new_test/sections_data.xlsx")
workbook.sheetnames

['Sheet1']

In [170]:
main_sheet = workbook["Sheet1"]

In [171]:
main_sheet["A1"].value

'Col1'

In [172]:
def get_rows(sheet):
    row_list = list()
    for row in sheet.iter_rows(values_only=True):
        row_list.append(row)
        
    return row_list

In [173]:
rows = get_rows(main_sheet)

In [174]:
def split_list_by_value_null(lst):
    split_value = None
    sublists = []
    sublist = []

    for item in lst:

        if item != split_value:
            sublist.append(item)
        else:
            sublists.append(sublist)
            sublist = []
    # Append the remaining sublist after the last split value
    if (len(sublist) > 0):
        sublists.append(sublist)

    return sublists

In [175]:
rows

[('Col1',
  'Col2',
  'Col3',
  None,
  'Col11',
  'Col12',
  None,
  'Col111',
  'Col122',
  None,
  'Col44',
  'Col55',
  'Col66',
  None,
  'Col44',
  'Col55',
  'Col66'),
 (100,
  100,
  100,
  None,
  100,
  100,
  None,
  100,
  100,
  None,
  100,
  100,
  100,
  None,
  100,
  100,
  100),
 (100,
  100,
  100,
  None,
  100,
  100,
  None,
  100,
  100,
  None,
  100,
  100,
  100,
  None,
  100,
  100,
  100),
 (100,
  100,
  100,
  None,
  100,
  100,
  None,
  100,
  100,
  None,
  100,
  100,
  100,
  None,
  100,
  100,
  100),
 (100,
  100,
  100,
  None,
  100,
  100,
  None,
  100,
  100,
  None,
  100,
  100,
  100,
  None,
  None,
  None,
  None),
 (100,
  100,
  100,
  None,
  100,
  100,
  None,
  100,
  100,
  None,
  100,
  100,
  100,
  None,
  None,
  None,
  None),
 (100,
  100,
  100,
  None,
  100,
  100,
  None,
  100,
  100,
  None,
  100,
  100,
  100,
  None,
  None,
  None,
  None),
 (100,
  100,
  100,
  None,
  100,
  100,
  None,
  100,
  100,
  None,
  100,
  100,
  100,
  None,
  None,
  None,
  None),
 (100,
  100,
  100,
  None,
  100,
  100,
  None,
  100,
  100,
  None,
  100,
  100,
  100,
  None,
  None,
  None,
  None),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (None,
  'ABC',
  'ABC1',
  'ABC2',
  'ABC3',
  None,
  'DEF',
  'DEF1',
  'DEF2',
  'DEF3',
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (None,
  10,
  100,
  100,
  100,
  None,
  10,
  100,
  100,
  100,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (None,
  10,
  100,
  100,
  100,
  None,
  10,
  100,
  100,
  100,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (None,
  10,
  100,
  100,
  100,
  None,
  10,
  100,
  100,
  100,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (None,
  10,
  100,
  100,
  100,
  None,
  10,
  100,
  100,
  100,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (None,
  None,
  None,
  None,
  None,
  'THJ',
  'TH3',
  'THJ1',
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (None,
  None,
  None,
  None,
  None,
  10,
  100,
  100,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (None,
  None,
  None,
  None,
  None,
  10,
  100,
  100,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (None,
  None,
  None,
  None,
  None,
  10,
  100,
  100,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None),
 (None,
  None,
  None,
  None,
  None,
  10,
  100,
  100,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None)]

In [176]:
row_wise_cnt = 0
no_set = 0
tbl = {}

tbl = list(map(split_list_by_value_null, rows))

type(tbl)

list

In [177]:
tbl

[[['Col1', 'Col2', 'Col3'],
  ['Col11', 'Col12'],
  ['Col111', 'Col122'],
  ['Col44', 'Col55', 'Col66'],
  ['Col44', 'Col55', 'Col66']],
 [[100, 100, 100], [100, 100], [100, 100], [100, 100, 100], [100, 100, 100]],
 [[100, 100, 100], [100, 100], [100, 100], [100, 100, 100], [100, 100, 100]],
 [[100, 100, 100], [100, 100], [100, 100], [100, 100, 100], [100, 100, 100]],
 [[100, 100, 100], [100, 100], [100, 100], [100, 100, 100], [], [], []],
 [[100, 100, 100], [100, 100], [100, 100], [100, 100, 100], [], [], []],
 [[100, 100, 100], [100, 100], [100, 100], [100, 100, 100], [], [], []],
 [[100, 100, 100], [100, 100], [100, 100], [100, 100, 100], [], [], []],
 [[100, 100, 100], [100, 100], [100, 100], [100, 100, 100], [], [], []],
 [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []],
 [[],
  ['ABC', 'ABC1', 'ABC2', 'ABC3'],
  ['DEF', 'DEF1', 'DEF2', 'DEF3'],
  [],
  [],
  [],
  [],
  [],
  []],
 [[], [10, 100, 100, 100], [10, 100, 100, 100], [], [], [], [], [], []],
 [[], [10, 100, 100, 100], [10, 100, 100, 100], [], [], [], [], [], []],
 [[], [10, 100, 100, 100], [10, 100, 100, 100], [], [], [], [], [], []],
 [[], [10, 100, 100, 100], [10, 100, 100, 100], [], [], [], [], [], []],
 [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []],
 [[], [], [], [], [], ['THJ', 'TH3', 'THJ1'], [], [], [], [], [], [], [], []],
 [[], [], [], [], [], [10, 100, 100], [], [], [], [], [], [], [], []],
 [[], [], [], [], [], [10, 100, 100], [], [], [], [], [], [], [], []],
 [[], [], [], [], [], [10, 100, 100], [], [], [], [], [], [], [], []],
 [[], [], [], [], [], [10, 100, 100], [], [], [], [], [], [], [], []]]

In [178]:
len(tbl)

21

In [179]:
def get_lst(lst, col):
    l = []
    for i in range(1, len(lst)):
        if len(lst[i][col])>0:
            l.append(lst[i][col])
        else:
            return(l)
    # return(l)

In [180]:
keys = tbl[0][1]
values = get_lst(tbl,1)

In [181]:
keys

['Col11', 'Col12']

In [182]:
values

[[100, 100],
 [100, 100],
 [100, 100],
 [100, 100],
 [100, 100],
 [100, 100],
 [100, 100],
 [100, 100]]

In [183]:
for i in range(0,len(tbl[0])):
    keys = tbl[0][i]
    values = get_lst(tbl, i)
    
    print(keys)
    print(values)

['Col1', 'Col2', 'Col3']
[[100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100]]
['Col11', 'Col12']
[[100, 100], [100, 100], [100, 100], [100, 100], [100, 100], [100, 100], [100, 100], [100, 100]]
['Col111', 'Col122']
[[100, 100], [100, 100], [100, 100], [100, 100], [100, 100], [100, 100], [100, 100], [100, 100]]
['Col44', 'Col55', 'Col66']
[[100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100]]
['Col44', 'Col55', 'Col66']
[[100, 100, 100], [100, 100, 100], [100, 100, 100]]

In [190]:
for i in range(0, len(tbl)):
    print(tbl[i])
    print(len(tbl[i]))

[['Col1', 'Col2', 'Col3'], ['Col11', 'Col12'], ['Col111', 'Col122'], ['Col44', 'Col55', 'Col66'], ['Col44', 'Col55', 'Col66']]
5
[[100, 100, 100], [100, 100], [100, 100], [100, 100, 100], [100, 100, 100]]
5
[[100, 100, 100], [100, 100], [100, 100], [100, 100, 100], [100, 100, 100]]
5
[[100, 100, 100], [100, 100], [100, 100], [100, 100, 100], [100, 100, 100]]
5
[[100, 100, 100], [100, 100], [100, 100], [100, 100, 100], [], [], []]
7
[[100, 100, 100], [100, 100], [100, 100], [100, 100, 100], [], [], []]
7
[[100, 100, 100], [100, 100], [100, 100], [100, 100, 100], [], [], []]
7
[[100, 100, 100], [100, 100], [100, 100], [100, 100, 100], [], [], []]
7
[[100, 100, 100], [100, 100], [100, 100], [100, 100, 100], [], [], []]
7
[[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]
17
[[], ['ABC', 'ABC1', 'ABC2', 'ABC3'], ['DEF', 'DEF1', 'DEF2', 'DEF3'], [], [], [], [], [], []]
9
[[], [10, 100, 100, 100], [10, 100, 100, 100], [], [], [], [], [], []]
9
[[], [10, 100, 100, 100], [10, 100, 100, 100], [], [], [], [], [], []]
9
[[], [10, 100, 100, 100], [10, 100, 100, 100], [], [], [], [], [], []]
9
[[], [10, 100, 100, 100], [10, 100, 100, 100], [], [], [], [], [], []]
9
[[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]
17
[[], [], [], [], [], ['THJ', 'TH3', 'THJ1'], [], [], [], [], [], [], [], []]
14
[[], [], [], [], [], [10, 100, 100], [], [], [], [], [], [], [], []]
14
[[], [], [], [], [], [10, 100, 100], [], [], [], [], [], [], [], []]
14
[[], [], [], [], [], [10, 100, 100], [], [], [], [], [], [], [], []]
14
[[], [], [], [], [], [10, 100, 100], [], [], [], [], [], [], [], []]
14

In [150]:
rowswise = tbl[len(values)+2:]
rowswise

[[[],
  ['ABC', 'ABC1', 'ABC2', 'ABC3'],
  ['DEF', 'DEF1', 'DEF2', 'DEF3'],
  [],
  [],
  [],
  [],
  [],
  []],
 [[], [10, 100, 100, 100], [10, 100, 100, 100], [], [], [], [], [], []],
 [[], [10, 100, 100, 100], [10, 100, 100, 100], [], [], [], [], [], []],
 [[], [10, 100, 100, 100], [10, 100, 100, 100], [], [], [], [], [], []],
 [[], [10, 100, 100, 100], [10, 100, 100, 100], [], [], [], [], [], []],
 [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []],
 [[], [], [], [], [], ['THJ', 'TH3', 'THJ1'], [], [], [], [], [], [], [], []],
 [[], [], [], [], [], [10, 100, 100], [], [], [], [], [], [], [], []],
 [[], [], [], [], [], [10, 100, 100], [], [], [], [], [], [], [], []],
 [[], [], [], [], [], [10, 100, 100], [], [], [], [], [], [], [], []],
 [[], [], [], [], [], [10, 100, 100], [], [], [], [], [], [], [], []]]

In [151]:
def get_lst_rows(lst, col):
    l = []
    for i in range(1, len(lst)):
        if len(lst[i][col]) > 0:
            l.append(lst[i][col])
        else:
            continue
    return(l)

In [152]:
for i in range(0, len(tbl[0])):
    if len(tbl[0][i]) == 0:
        continue    
    keys = tbl[0][i]
    # print(rowswise)
    values = get_lst(tbl, i)

    print(keys)
    print(values)

['Col1', 'Col2', 'Col3']
[[100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100]]
['Col11', 'Col12']
[[100, 100], [100, 100], [100, 100], [100, 100], [100, 100], [100, 100], [100, 100], [100, 100]]
['Col111', 'Col122']
[[100, 100], [100, 100], [100, 100], [100, 100], [100, 100], [100, 100], [100, 100], [100, 100]]
['Col44', 'Col55', 'Col66']
[[100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100]]
['Col44', 'Col55', 'Col66']
[[100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100], [100, 100, 100]]

In [42]:
# row , col
tbl[0][1]

['Col11', 'Col12']

In [24]:
print(tbl[0])

[['Col1', 'Col2', 'Col3'], ['Col11', 'Col12'], ['Col11', 'Col12']]

In [2]:
for i in range(0,max_length):
    print("---------")
    for item in tbl:
        if len(item[i])>0:
            print(item[i])
        else:
            print("new")

NameError: name 'max_length' is not defined

In [61]:
my_dict

{0: {0: ['Col1', 'Col2', 'Col3'],
  1: ['Col11', 'Col12'],
  2: ['Col11', 'Col12']}}